
$textTransform: uppercase;
$fontFamily: 'Ubuntu', sans-serif;
$colorWhite: #fff;

.btn-order_nav {
    display: flex;
    justify-content: flex-end;
}

.btn-order__background {
    width: 97px;
    height: 35px;
    background: #e45028;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-order__text {
    text-transform: $textTransform;
    text-decoration: none;
    color:$colorWhite;
    font-family: $fontFamily;
    font-size: 13px;
    font-weight: 500;
}

