.btn-order_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.btn-order__background {
  width: 97px;
  height: 35px;
  background: #e45028;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.btn-order__text {
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  font-family: "Ubuntu", sans-serif;
  font-size: 13px;
  font-weight: 500; }
